body h1, h2, h3, p {
  font-family: "roboto", serif, sans-serif;
}

body h4 {
  font-family: "Shrikhand", serif, sans-serif;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0%;
  }

  .bloc_page {
    max-width: 100%;
    margin: 0%;
  }

  .top_page {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5% 0 3% 0;
  }

  .logo img {
    width: 100%;
  }

  .search {
    display: flex;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
  }
  .search__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    margin-left: 7%;
  }
  .search__form span {
    color: black;
    font-size: 1em;
  }
  .search__input {
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 10%;
    background-color: #eaeaea;
    border: none;
    width: auto;
  }

  .title {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: normal;
  }
  .title__head {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 0;
  }
  .title__text {
    font-size: 1.1em;
    text-align: center;
    font-weight: lighter;
  }
  .title__btn {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title__btn a {
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: normal;
    font-family: "roboto", serif, sans-serif;
    text-align: center;
    padding: 8% 0 8% 0;
    width: 100%;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 0 5% 5%;
    padding: 5% 0 0 0;
    width: auto;
  }
  .navigation__title {
    font-size: 1.6em;
    font-weight: bold;
  }

  .navi_choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .choices {
    display: flex;
    width: 90%;
    margin-left: 2%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    margin-bottom: 10%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
  }
  .choices__a {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }
  .choices__number {
    font-size: 0.9em;
    border: 1px solid #b260db;
    background-color: #b260db;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 2% 3% 1% 3%;
    margin: 0 8% 0 -4%;
  }
  .choices span {
    font-size: 1.2em;
    color: grey;
    margin-right: 8%;
  }
  .choices__text {
    font-size: 1.1em;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #f6f6f6;
    margin: 5% 0 0 0;
    padding: 5% 0 8% 0;
  }
  .restaurants__title {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 5%;
  }

  .restau_choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .carte {
    width: 90%;
    height: 252px;
    border: 1px solid hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 8%;
  }
  .carte__a {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .carte__img {
    width: 100%;
    max-height: 174px;
    overflow: hidden;
  }
  .carte__img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .carte__name {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
  }
  .carte__adress {
    font-size: 1em;
    font-weight: lighter;
    line-height: 0.5px;
    color: black;
    margin-left: 5%;
  }
  .carte span {
    color: black;
    margin-left: 5%;
    font-size: 1.5em;
    font-weight: lighter;
    position: relative;
    bottom: 17%;
    left: 80%;
  }
  .carte__nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 3px 3px 3px 3px;
    color: #0f9071;
    font-size: 0.9em;
    text-align: center;
    width: 24%;
    padding: 2%;
    position: relative;
    bottom: 105%;
    left: 68%;
  }

  .end_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353535;
    width: 100%;
  }
  .end_page__logo h4 {
    color: white;
    font-size: 1.6em;
    margin-left: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .end_page__infos ul {
    list-style-type: none;
    margin-left: -10%;
    margin-top: 0;
  }
  .end_page__infos a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: "roboto", serif, sans-serif;
  }
  .end_page__infos a span {
    font-size: 1.2em;
    margin-right: 5%;
  }
  .end_page__infos li {
    margin: 5%;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .top__previous a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
  }
  .top__previous {
    display: flex;
    align-self: flex-start;
    margin: 6% 0 0 6%;
  }
  .top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: -7% 0 3% 0;
  }
  .top__logo img {
    width: 100%;
  }
  .top__img {
    display: flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
  }
  .top__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width: 100%;
    margin-top: -12%;
  }
  .top__title h1 {
    font-family: "Shrikhand", "roboto", serif, sans-serif;
    font-size: 1.6em;
    margin: 5% 5% 3% 0;
    padding-left: 0;
  }
  .top__title a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    background-color: #f6f6f6;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: lighter;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f6f6f6;
    width: 100%;
  }
  .menu__title {
    padding-left: 5%;
    margin-top: 5%;
  }
  .menu__title h2 {
    color: black;
    font-weight: lighter;
    font-size: 1em;
    margin-bottom: 9%;
  }
  .menu__line {
    border-top: #99E2D0 solid 3px;
    margin-left: 5%;
    padding: 0;
    width: 13%;
  }

  .dish_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 75px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: white;
    border: 1px solid white;
    margin: 3% 0 1% 0;
    padding-left: 5%;
  }
  .dish__link {
    text-decoration: none;
    width: 100%;
    height: 75px;
  }
  .dish__title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin: 4% 0 2% -2%;
  }
  .dish__text {
    font-weight: lighter;
    color: black;
    font-size: 0.8em;
    margin: 0 0 0 -2%;
  }
  .dish__price {
    font-weight: bold;
    color: black;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 32px;
    right: 10px;
  }
  .dish__btn {
    display: flex;
    justify-content: flex-end;
    color: black;
    position: relative;
    bottom: 90px;
    right: 10px;
    visibility: hidden;
  }

  .btn_commander {
    margin-top: 12%;
    margin-bottom: 12%;
    display: flex;
    align-self: center;
    width: 50%;
  }
  .btn_commander a {
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    color: white;
    font-family: "roboto", serif, sans-serif;
    font-size: 1em;
    padding: 8% 0 8% 0;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0%;
  }

  .bloc_page {
    max-width: 100%;
    margin: 0%;
  }

  .top_page {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5% 0 3% 0;
  }

  .logo img {
    width: 100%;
  }

  .search {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
  }
  .search__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    margin-left: 7%;
  }
  .search__form span {
    color: black;
    font-size: 1.6em;
  }
  .search__input {
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 10%;
    background-color: #eaeaea;
    border: none;
    width: auto;
  }

  .title {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: normal;
  }
  .title__head {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 2% 0 0 0;
  }
  .title__text {
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
  }
  .title__btn {
    margin-top: 8%;
    margin-bottom: 2%;
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .title__btn a {
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    font-family: "roboto", serif, sans-serif;
    text-align: center;
    padding: 8% 4% 8% 4%;
    width: 100%;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 0 2% 5%;
    padding: 0;
    width: auto;
  }
  .navigation__title {
    font-size: 2em;
    font-weight: bold;
  }

  .navi_choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .choices {
    display: flex;
    width: 60%;
    margin-left: 4%;
    margin-bottom: 6%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
  }
  .choices__a {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }
  .choices__number {
    font-size: 1.2em;
    border: 1px solid #b260db;
    background-color: #b260db;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 2% 3% 1% 3%;
    margin: 0 10% 0 -4%;
  }
  .choices span {
    font-size: 1.6em;
    color: grey;
    margin-right: 10%;
  }
  .choices__text {
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;
    padding: 3% 0 8% 0;
  }
  .restaurants__title {
    font-size: 2em;
    font-weight: bold;
    padding-left: 5%;
  }

  .restau_choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .carte {
    width: 40%;
    height: 252px;
    border: 1px solid hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin: 0 2% 4% 2%;
  }
  .carte__a {
    width: 100%;
    height: 252px;
    text-decoration: none;
  }
  .carte__img {
    width: 100%;
    max-height: 174px;
    overflow: hidden;
  }
  .carte__img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .carte__name {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
  }
  .carte__adress {
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 0.5px;
    color: black;
    margin-left: 5%;
  }
  .carte span {
    color: black;
    margin-left: 5%;
    font-size: 1.6em;
    font-weight: lighter;
    position: relative;
    bottom: 17%;
    left: 80%;
  }
  .carte__nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 3px 3px 3px 3px;
    color: #0f9071;
    font-size: 1em;
    text-align: center;
    width: 24%;
    padding: 2%;
    position: relative;
    bottom: 108%;
    left: 68%;
  }

  .end_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353535;
    width: 100%;
  }
  .end_page__logo h4 {
    color: white;
    font-size: 1.6em;
    margin-left: 35%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .end_page__infos ul {
    list-style-type: none;
    margin-left: 0%;
    margin-top: 0;
    width: 100%;
  }
  .end_page__infos a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: "roboto", serif, sans-serif;
  }
  .end_page__infos a span {
    font-size: 1.2em;
    margin-right: 5%;
  }
  .end_page__infos li {
    margin: 5%;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .top__previous a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
  }
  .top__previous {
    display: flex;
    align-self: flex-start;
    margin: 6% 0 0 6%;
  }
  .top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: -7% 0 3% 0;
  }
  .top__logo img {
    width: 100%;
  }
  .top__img {
    display: flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
  }
  .top__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width: 100%;
    margin-top: -12%;
  }
  .top__title h1 {
    font-family: "Shrikhand", "roboto", serif, sans-serif;
    font-size: 1.6em;
    margin: 5% 5% 3% 0;
    padding-left: 0;
  }
  .top__title a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    background-color: #f6f6f6;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: lighter;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f6f6f6;
    width: 100%;
  }
  .menu__title {
    padding-left: 5%;
    margin-top: 5%;
  }
  .menu__title h2 {
    color: black;
    font-weight: lighter;
    font-size: 1em;
    margin-bottom: 9%;
  }
  .menu__line {
    border-top: #99E2D0 solid 3px;
    margin-left: 5%;
    padding: 0;
    width: 13%;
  }

  .dish_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 75px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: white;
    border: 1px solid white;
    margin: 3% 0 1% 0;
    padding-left: 5%;
  }
  .dish__link {
    text-decoration: none;
    width: 100%;
    height: 75px;
  }
  .dish__title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin: 4% 0 2% -2%;
  }
  .dish__text {
    font-weight: lighter;
    color: black;
    font-size: 0.8em;
    margin: 0 0 0 -2%;
  }
  .dish__price {
    font-weight: bold;
    color: black;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 32px;
    right: 10px;
  }
  .dish__btn {
    display: flex;
    justify-content: flex-end;
    color: black;
    position: relative;
    bottom: 90px;
    right: 10px;
    visibility: hidden;
  }

  .btn_commander {
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    margin-top: 12%;
    margin-bottom: 12%;
    display: flex;
    align-self: center;
  }
  .btn_commander a {
    text-decoration: none;
    color: white;
    font-family: "roboto", serif, sans-serif;
    font-size: 1em;
  }
}

/*# sourceMappingURL=ohmyfood.css.map */
