@keyframes slow-menu {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body h1, h2, h3, p {
  font-family: "roboto", serif, sans-serif;
}

body h4 {
  font-family: "Shrikhand", serif, sans-serif;
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  body {
    margin: 0;
  }

  .bloc_page {
    width: 100%;
    margin: auto;
  }

  .top_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logo {
    margin: 2% 0 1% 2%;
    height: 68px;
  }

  .logo img {
    height: 100%;
  }

  .search {
    display: flex;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
  }
  .search__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
    width: 100%;
  }
  .search__form a {
    color: black;
    font-size: 1.5em;
  }
  .search__input {
    font-size: 1.4em;
    font-weight: normal;
    margin-left: 11%;
    background-color: #eaeaea;
    border: none;
    width: 86%;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom: 3%;
    width: 100%;
  }
  .title__head {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .title__text {
    font-size: 1.4em;
    font-weight: lighter;
    margin-top: 2%;
  }
  .title__btn {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 1%;
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    font-family: "roboto", serif, sans-serif;
    text-align: center;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms;
  }
  .title__btn:hover {
    transform: scale(1.02);
    background: linear-gradient(#ff83dd, #8b49d9);
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .navigation__title {
    font-size: 1.9em;
    font-weight: bold;
    margin-left: 2%;
  }

  .navi_choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    margin-bottom: 5%;
    margin-left: 3%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices:hover {
    transform: scale(1.05);
  }
  .choices__a {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-right: 2%;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices__a:hover span {
    transform: scale(1.2);
    color: #b260db;
  }
  .choices__number {
    font-size: 0.9em;
    border: 1px solid #b260db;
    background-color: #b260db;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 2% 3% 1% 3%;
    margin: 0 8% 0 -4%;
  }
  .choices__icone {
    font-size: 1.2em;
    color: grey;
    margin-right: 8%;
  }
  .choices__text {
    font-size: 1.1em;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    max-width: 100%;
  }
  .restaurants__title {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  .restau_choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .carte {
    width: 22%;
    height: 270px;
    border: 1px solid hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin: 0 1% 4% 1%;
    transform: scale(1);
    transition: transform 400ms;
  }
  .carte:hover {
    transform: scale(1.05);
  }
  .carte__a {
    width: 100%;
    height: 270px;
    text-decoration: none;
  }
  .carte__img {
    width: 100%;
    max-height: 174px;
    overflow: hidden;
  }
  .carte__img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .carte__name {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
  }
  .carte__adress {
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 0.5px;
    color: black;
    margin-left: 5%;
  }
  .carte__heart {
    position: relative;
    bottom: 17%;
    left: 87%;
    padding: 0;
    margin: 0;
    width: 8%;
    height: 9%;
    color: black;
    font-size: 2em;
    font-weight: lighter;
  }
  .carte__heart span {
    z-index: 1;
  }
  .carte__heart span:hover::after {
    opacity: 1;
  }
  .carte__heart span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms;
    color: linear-gradient(#ff83dd, #8b49d9);
  }
  .carte__nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 3px 3px 3px 3px;
    color: #0f9071;
    font-size: 1em;
    text-align: center;
    width: 24%;
    padding: 2%;
    position: relative;
    bottom: 103%;
    left: 68%;
  }

  .end_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353535;
    width: 100%;
    margin: 0;
  }
  .end_page__logo h4 {
    color: white;
    font-size: 1.6em;
    margin-left: 25%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .end_page__infos ul {
    list-style-type: none;
    margin-left: -3%;
    margin-top: 0;
    width: 100%;
  }
  .end_page__infos a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: "roboto", serif, sans-serif;
  }
  .end_page__infos a:hover {
    text-decoration: underline;
  }
  .end_page__infos a span {
    font-size: 1.2em;
    margin-right: 5%;
  }
  .end_page__infos li {
    margin: 5%;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .top__previous a {
    text-decoration: none;
    color: black;
    font-size: 2.5em;
  }
  .top__previous {
    display: flex;
    align-self: flex-start;
    margin: 4% 0 1% 6%;
  }
  .top__logo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    margin: -6% 0 2% 0;
  }
  .top__logo img {
    width: 100%;
  }
  .top__img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 550px;
    margin-top: auto;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
  }
  .top__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    width: 100%;
    margin: 0;
  }
  .top__title h1 {
    font-family: "Shrikhand", "roboto", serif, sans-serif;
    font-size: 2.8em;
    margin: 3% 5% 3% 0;
    padding-left: 0;
  }
  .top__title a {
    text-decoration: none;
    font-size: 2.7em;
    color: black;
    background-color: #f6f6f6;
    margin-left: 2%;
    margin-top: 0;
    font-weight: lighter;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    margin: auto;
  }

  .dish_btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .dish_btn1, .dish_btn2, .dish_btn3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 0 0 -1%;
    padding: 0%;
  }
  .dish_btn1__title, .dish_btn2__title, .dish_btn3__title {
    margin-top: 2%;
  }
  .dish_btn1__title h2, .dish_btn2__title h2, .dish_btn3__title h2 {
    color: black;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 9%;
  }
  .dish_btn1__line, .dish_btn2__line, .dish_btn3__line {
    border-top: #99E2D0 solid 3px;
    width: 10%;
    margin-bottom: 2%;
  }

  .dish_btn1 {
    animation: slow-menu 1200ms ease-in-out;
  }

  .dish_btn2 {
    animation: slow-menu 1450ms ease-in-out;
  }

  .dish_btn3 {
    animation: slow-menu 1600ms ease-in-out;
  }

  .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 75px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: white;
    border: 1px solid white;
    margin: 2% 0 2% 0;
  }
  .dish__link {
    text-decoration: none;
    width: 100%;
    height: 90px;
  }
  .dish__title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin: 2.5% 0 0 3%;
  }
  .dish__text {
    font-weight: lighter;
    color: black;
    font-size: 0.9em;
    margin: 1% 0 0 3%;
  }
  .dish__price {
    font-weight: bold;
    color: black;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 42px;
    right: 20px;
  }
  .dish__btn {
    display: flex;
    justify-content: flex-end;
    color: black;
    position: relative;
    bottom: 60px;
    right: 20px;
    visibility: hidden;
  }

  .btn_commander {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 20%;
    position: relative;
    z-index: 1;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-family: "roboto", serif, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 1%;
    cursor: pointer;
  }
  .btn_commander:hover::after {
    opacity: 1;
  }
  .btn_commander::after {
    content: "";
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#ff83dd, #8b49d9);
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms;
    border: none;
  }
}
@media (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0%;
  }

  .bloc_page {
    max-width: 100%;
    margin: 0%;
  }

  .top_page {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5% 0 3% 0;
  }

  .logo img {
    width: 100%;
  }

  .search {
    display: flex;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
  }
  .search__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    margin-left: 7%;
  }
  .search__form span {
    color: black;
    font-size: 1em;
  }
  .search__input {
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 10%;
    background-color: #eaeaea;
    border: none;
    width: auto;
  }

  .title {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: normal;
  }
  .title__head {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 0;
  }
  .title__text {
    font-size: 1.1em;
    text-align: center;
    font-weight: lighter;
  }
  .title__btn {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-size: 1em;
    font-weight: normal;
    font-family: "roboto", serif, sans-serif;
    text-align: center;
    padding: 5%;
    width: 75%;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms;
  }
  .title__btn:hover {
    transform: scale(1.02);
    background: linear-gradient(#ff83dd, #8b49d9);
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 0 5% 5%;
    padding: 5% 0 0 0;
    width: auto;
  }
  .navigation__title {
    font-size: 1.6em;
    font-weight: bold;
  }

  .navi_choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .choices {
    display: flex;
    width: 90%;
    margin-left: 2%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    margin-bottom: 10%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices:hover {
    transform: scale(1.05);
  }
  .choices__a {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices__a:hover span {
    transform: scale(1.2);
    color: #b260db;
  }
  .choices__number {
    font-size: 0.9em;
    border: 1px solid #b260db;
    background-color: #b260db;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 2% 3% 1% 3%;
    margin: 0 8% 0 -4%;
  }
  .choices__icone {
    font-size: 1.2em;
    color: grey;
    margin-right: 8%;
  }
  .choices__text {
    font-size: 1.1em;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #f6f6f6;
    margin: 5% 0 0 0;
    padding: 5% 0 8% 0;
  }
  .restaurants__title {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 5%;
  }

  .restau_choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .carte {
    width: 90%;
    height: 252px;
    border: 1px solid hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 8%;
  }
  .carte__a {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .carte__img {
    width: 100%;
    max-height: 174px;
    overflow: hidden;
  }
  .carte__img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .carte__name {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
  }
  .carte__adress {
    font-size: 1em;
    font-weight: lighter;
    line-height: 0.5px;
    color: black;
    margin-left: 5%;
  }
  .carte__heart {
    color: black;
    padding: 0;
    margin: 0;
    width: 0;
    font-size: 1.5em;
    font-weight: lighter;
    position: relative;
    bottom: 17%;
    left: 87%;
    padding: 0;
    margin: 0;
    width: 0;
  }
  .carte__nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 3px 3px 3px 3px;
    color: #0f9071;
    font-size: 0.9em;
    text-align: center;
    width: 24%;
    padding: 2%;
    position: relative;
    bottom: 105%;
    left: 68%;
  }

  .end_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353535;
    width: 100%;
  }
  .end_page__logo h4 {
    color: white;
    font-size: 1.6em;
    margin-left: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .end_page__infos ul {
    list-style-type: none;
    margin-left: -10%;
    margin-top: 0;
  }
  .end_page__infos a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: "roboto", serif, sans-serif;
  }
  .end_page__infos a span {
    font-size: 1.2em;
    margin-right: 5%;
  }
  .end_page__infos li {
    margin: 5%;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .top__previous a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
  }
  .top__previous {
    display: flex;
    align-self: flex-start;
    margin: 6% 0 0 6%;
  }
  .top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: -7% 0 3% 0;
  }
  .top__logo img {
    width: 100%;
  }
  .top__img {
    display: flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
  }
  .top__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width: 100%;
    margin-top: -12%;
  }
  .top__title h1 {
    font-family: "Shrikhand", "roboto", serif, sans-serif;
    font-size: 1.6em;
    margin: 5% 5% 3% 0;
    padding-left: 0;
  }
  .top__title a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    background-color: #f6f6f6;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: lighter;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f6f6f6;
    width: 100%;
  }

  .dish_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .dish_btn1, .dish_btn2, .dish_btn3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .dish_btn1__title, .dish_btn2__title, .dish_btn3__title {
    display: flex;
    align-self: flex-start;
    padding-left: 5%;
    margin-top: 5%;
  }
  .dish_btn1__title h2, .dish_btn2__title h2, .dish_btn3__title h2 {
    color: black;
    font-weight: lighter;
    font-size: 1em;
    margin-bottom: 9%;
  }
  .dish_btn1__line, .dish_btn2__line, .dish_btn3__line {
    display: flex;
    align-self: flex-start;
    border-top: #99E2D0 solid 3px;
    margin-left: 5%;
    padding: 0;
    width: 13%;
  }

  .dish_btn1 {
    animation: slow-menu 1200ms ease-in-out;
  }

  .dish_btn2 {
    animation: slow-menu 1450ms ease-in-out;
  }

  .dish_btn3 {
    animation: slow-menu 1600ms ease-in-out;
  }

  .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 70px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: white;
    border: 1px solid white;
    margin: 3% 0 1% 0;
    padding-left: 5%;
  }
  .dish__link {
    text-decoration: none;
    width: 100%;
    height: 70px;
  }
  .dish__title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin: 4% 0 2% -2%;
  }
  .dish__text {
    font-weight: lighter;
    color: black;
    font-size: 0.8em;
    margin: 0 0 0 -2%;
  }
  .dish__price {
    font-weight: bold;
    color: black;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 34px;
    right: 10px;
  }
  .dish__btn {
    display: flex;
    justify-content: flex-end;
    color: black;
    position: relative;
    bottom: 90px;
    right: 10px;
    visibility: hidden;
  }

  .btn_commander {
    margin-top: 12%;
    margin-bottom: 12%;
    display: flex;
    align-self: center;
    width: 40%;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-family: "roboto", serif, sans-serif;
    font-size: 1em;
    padding: 3%;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
  }
  .btn_commander:hover::after {
    opacity: 1;
  }
  .btn_commander::after {
    content: "";
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#ff83dd, #8b49d9);
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms;
    border: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0%;
  }

  .bloc_page {
    max-width: 100%;
    margin: 0%;
  }

  .top_page {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5% 0 3% 0;
  }

  .logo img {
    width: 100%;
  }

  .search {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.2) inset;
  }
  .search__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    margin-left: 7%;
  }
  .search__form span {
    color: black;
    font-size: 1.6em;
  }
  .search__input {
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 10%;
    background-color: #eaeaea;
    border: none;
    width: auto;
  }

  .title {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: normal;
  }
  .title__head {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 2% 0 0 0;
  }
  .title__text {
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
  }
  .title__btn {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 40%;
    padding: 2%;
    display: flex;
    justify-content: center;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    font-family: "roboto", serif, sans-serif;
    text-align: center;
    transform: scale(1);
    transition: transform 300ms;
  }
  .title__btn:hover {
    transform: scale(1.02);
    background: linear-gradient(#ff83dd, #8b49d9);
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 0 2% 5%;
    padding: 0;
    width: auto;
  }
  .navigation__title {
    font-size: 2em;
    font-weight: bold;
  }

  .navi_choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 0 -5%;
    padding: 0;
  }

  .choices {
    display: flex;
    width: 60%;
    margin-bottom: 6%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices:hover {
    transform: scale(1.05);
  }
  .choices__a {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transform: scale(1);
    transition: transform 300ms;
  }
  .choices__a:hover span {
    transform: scale(1.2);
    color: #b260db;
  }
  .choices__number {
    font-size: 1.2em;
    border: 1px solid #b260db;
    background-color: #b260db;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 2% 3% 1% 3%;
    margin: 0 10% 0 -4%;
  }
  .choices__icone {
    font-size: 1.6em;
    color: grey;
    margin-right: 10%;
  }
  .choices__text {
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;
    padding: 3% 0 8% 0;
  }
  .restaurants__title {
    font-size: 2em;
    font-weight: bold;
    padding-left: 5%;
  }

  .restau_choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .carte {
    width: 40%;
    height: 252px;
    border: 1px solid hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin: 0 2% 4% 2%;
  }
  .carte__a {
    width: 100%;
    height: 252px;
    text-decoration: none;
  }
  .carte__img {
    width: 100%;
    max-height: 174px;
    overflow: hidden;
  }
  .carte__img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .carte__name {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
  }
  .carte__adress {
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 0.5px;
    color: black;
    margin-left: 5%;
  }
  .carte__heart {
    color: black;
    margin-left: 5%;
    font-size: 1.6em;
    font-weight: lighter;
    position: relative;
    bottom: 17%;
    left: 87%;
    padding: 0;
    margin: 0;
    width: 0;
  }
  .carte__nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 3px 3px 3px 3px;
    color: #0f9071;
    font-size: 1em;
    text-align: center;
    width: 24%;
    padding: 2%;
    position: relative;
    bottom: 108%;
    left: 68%;
  }

  .end_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #353535;
    width: 100%;
  }
  .end_page__logo h4 {
    color: white;
    font-size: 1.6em;
    margin-left: 35%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .end_page__infos ul {
    list-style-type: none;
    margin-left: 0%;
    margin-top: 0;
    width: 100%;
  }
  .end_page__infos a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: "roboto", serif, sans-serif;
  }
  .end_page__infos a span {
    font-size: 1.2em;
    margin-right: 5%;
  }
  .end_page__infos li {
    margin: 5%;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .top__previous a {
    text-decoration: none;
    color: black;
    font-size: 2.7em;
  }
  .top__previous {
    display: flex;
    align-self: flex-start;
    margin: 6% 0 0 6%;
  }
  .top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: -7% 0 3% 0;
  }
  .top__logo img {
    width: 100%;
  }
  .top__img {
    display: flex;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
  }
  .top__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0 0;
    width: 100%;
    margin-top: -12%;
  }
  .top__title h1 {
    font-family: "Shrikhand", "roboto", serif, sans-serif;
    font-size: 3em;
    margin: 3% 5% 3% 0;
    padding-left: 0;
  }
  .top__title a {
    text-decoration: none;
    font-size: 2.5em;
    color: black;
    background-color: #f6f6f6;
    margin-left: 2%;
    margin-top: 0;
    font-weight: lighter;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f6f6f6;
    width: 100%;
  }

  .dish_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .dish_btn1, .dish_btn2, .dish_btn3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .dish_btn1__title, .dish_btn2__title, .dish_btn3__title {
    margin-top: 5%;
  }
  .dish_btn1__title h2, .dish_btn2__title h2, .dish_btn3__title h2 {
    color: black;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 9%;
  }
  .dish_btn1__line, .dish_btn2__line, .dish_btn3__line {
    border-top: #99E2D0 solid 3px;
    padding: 0;
    width: 10%;
  }

  .dish_btn1 {
    animation: slow-menu 1200ms ease-in-out;
  }

  .dish_btn2 {
    animation: slow-menu 1450ms ease-in-out;
  }

  .dish_btn3 {
    animation: slow-menu 1600ms ease-in-out;
  }

  .dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 90px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px rgba(104, 54, 54, 0.2);
    max-width: 100%;
    background-color: white;
    border: 1px solid white;
    margin: 2% 0 1% 0;
  }
  .dish__link {
    text-decoration: none;
    width: 100%;
    height: 90px;
  }
  .dish__title {
    color: black;
    font-weight: bold;
    font-size: 1.6em;
    margin: 3% 0 0 3%;
  }
  .dish__text {
    font-weight: lighter;
    color: black;
    font-size: 1.2em;
    margin: 1% 0 0 3%;
  }
  .dish__price {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 60px;
    right: 20px;
  }
  .dish__btn {
    display: flex;
    justify-content: flex-end;
    color: black;
    position: relative;
    bottom: 60px;
    right: 20px;
    visibility: hidden;
  }

  .btn_commander {
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-family: "roboto", serif, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 2%;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }
  .btn_commander:hover::after {
    opacity: 1;
  }
  .btn_commander::after {
    content: "";
    border: 1px solid #b260db;
    background-color: #b260db;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#ff83dd, #8b49d9);
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms;
    border: none;
  }
}

/*# sourceMappingURL=ohmyfood.css.map */
